@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
header{
   background: #1ac14d;
   color: #262525;
   border-bottom-left-radius: 10%;
}
}
html{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #140303a8;
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #1ac14d;
    width: 100%;
    padding-left: 3rem;
}
.right-container{
    background: #262525
    width: 100%;
}
.icons .fa-brands{
    color: #262525;
    font-size: 1.7rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: #262525;
}
.content .intro span{
    color: #fff;
}
.content h1{
    font-size: 4rem;
    color: #fff;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn-container  button{
    border: .1rem solid #1e1e1fc4;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
.content .about{
    font-size: 1.1rem;
    color: #262525;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;

}
button:nth-child(1){
    background: #c5bcbc;
    color: #262525;
}
button:nth-child(2){
    background: transparent;
    color: #5DB9EE;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #5DB9EE;
}
button:nth-child(2):hover{
    background: #5DB9EE;
    color: #262525;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gardient(#fff,#3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);

}
.circle:nth-chile(1){
     background: linear-gradient(90deg ,transparent 50%, #262525 50%);
     width: 38rem;
}
.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform .5s; 
}
.navlist li a:hover::after, .navlist .active::after{
    transform: scalex(1);
    transform-origin: bottm left;
}
/* --------------Browse Job------------ */
#about{
    padding: 80px 0;
    color: #fff;
    background: #069bb9;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 50%;
    border-radius: 10px;
    top: 0%;
    left: 70%;
    transform: translate(70%, 30%);


}
.about-col-2{
     flex-basis: 60%;
}

.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.contact-left, .contact-right
/*---------------contact-----------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #c4bfbf;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #c5bcbc;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}


